* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background: #222;
  
}

.title{
  text-align: center;
  margin-top: 90px;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 10px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center; 
}

.search{
  width: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;

}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search-button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}

.search-button:hover, .tmpBtn:hover, .mphBtn:hover{
  background: #cfe0dd;
  transform: scale(1.1);
}

.search-button:active, .tmpBtn:active, .mphBtn:active{
  transform: scale(0.9);
}

.search-button img{
  width: 16px;
}

.tempBtnContainer {
  width: 100%;
  display: flex; 
  justify-content: right;
  align-content: center;
}

.tmpBtn, .mphBtn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #555;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}

.tmpBtn{
  font-size: 18px;
}
.mphBtn{
  font-size: 16px;
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}

.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 27px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

@media(max-width: 375px){

  .card {
    padding: 40px 15px;
  }

  .search input{
    width: 200px;
  }


  
}